
<!DOCTYPE html>
<html lang="en">
<head>
    <title>News App</title>
    <meta charset="utf-8">
    <!--Set the viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Include Bootstrap framework-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <!--NavBar-->
    {% include 'bar.html' %}
</div>
<!-- message system-->
{% for message in messages %}
<div class="container-fluid p-0">
    <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
        {{ message }}
    </div>
</div>
{% endfor %}

<!--Article Container-->
<div class="container" id="articles-container">

    {% for article in art_id %}
    <div class="card mb box" style="max-width: 640px; margin:auto;">
        <div class="row">
            <div class="col-md">
                <div class="card-body">
                    <p class="card-text">{{article.art_id}}</p>
                    <h5 class="card-title"><a href="{{article.url}}" target="_blanck">{{article.title}}</a></h5>
                    <p class="card-text">{{article.description}}</p>
                </div>
            </div>

        </div>
        <div class="col-md-7 d-flex justify-content-between">

        </div>
        {% if request.user.is_authenticated %}
        <div>
            <a href="{% url 'favourite_add' article.art_id %}" class="">Add to
                Favourties</a>
        </div>
        {% endif %}

    </div>
    {% endfor %}
</div>
<h1 id="loading">Loading....</h1>
</body>
<!--CSS style-->
<style>
#articles-container{
    margin-right: 250px;
}
.box{
    transition-property: box-shadow, transform;
    transition-duration: 1s;
}
.box:hover{
    /* box-shadow: 2px 2px 5px #8080807a; */
    box-shadow: 1px 2px 8px 0px #00bcffb0;
    transform: translateY(-9px);
}
.img-box{
    padding: 20px;
}
.img-box img{
    border-radius: 15px;
    object-fit: cover;
}
#loading{
    text-align: center;
    display: none;
}
</style>